.cardTitle{
    text-align: center;
    font-size: 70px;
    margin-top: 45px;
    background-color: fuchsia;
    color: aqua;
}
.cardHead{
    text-align: center;
    font-size: 25px;
    color: aqua;
    background-color: fuchsia;

}
.genieA{
    border: solid blue;
    display: flex;
    align-items: center;
    height: 600px;
    width: 100%;

}
.cardMessage{
    text-align:center;
    color: aqua;
    background-color: fuchsia;
    font-size: 35px;
}